body, html {
    height: 100%;
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #ff7e5f, #feb47b);
}

header, footer {
    text-align: center;
    margin: 20px;
}

#quiz-container {
    width: 90%;
    max-width: 600px;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    padding: 20px;
    text-align: center;
    animation: fadeIn 1s ease-in-out;
}

@keyframes fadeIn {
    from { opacity: 0; }
    to { opacity: 1; }
}

.hide {
    display: none;
}

.btn-grid {
    display: grid;
    grid-gap: 10px;
    margin-top: 20px;
}

button {
    cursor: pointer;
    background-color: #2979ff;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 15px 25px;
    font-size: 18px;
    transition: background-color 0.3s, transform 0.3s;
}

button:hover {
    background-color: #1c54b2;
    transform: scale(1.05);
}

#progress-bar {
    width: 100%;
    background-color: #e0e0e0;
    border-radius: 5px;
    margin-bottom: 20px;
}

#progress {
    height: 10px;
    background-color: #2979ff;
    border-radius: 5px;
    width: 0;
}

.correct {
    background-color: #4caf50;
}

.wrong {
    background-color: #f44336;
}

#results-container {
    animation: fadeIn 1s ease-in-out;
}
